<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="com.dergoogler.mmrl.permission.WEBUI_X"
        android:protectionLevel="dangerous" />

    <uses-permission
        android:name="com.dergoogler.mmrl.permission.WEBUI_LEGACY"
        android:protectionLevel="dangerous" />

    <permission
        android:name="com.dergoogler.mmrl.permission.WEBUI_X"
        android:label="@string/permission_wx_label"
        android:description="@string/permission_wx_desc"
        android:protectionLevel="dangerous" />

    <permission
        android:name="com.dergoogler.mmrl.permission.WEBUI_LEGACY"
        android:label="@string/permission_wl_label"
        android:description="@string/permission_wl_desc"
        android:protectionLevel="dangerous" />


    <permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"
        tools:node="remove" />

    <uses-permission
        android:name="${applicationId}.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        tools:node="remove" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="33">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.webui.WebUIActivity"
            android:autoRemoveFromRecents="true"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:label="WebUI X"
            android:permission="com.dergoogler.mmrl.permission.WEBUI_X"
            android:taskAffinity="${applicationId}.WEBUI_X" />

        <activity
            android:name=".ui.activity.webui.KsuWebUIActivity"
            android:autoRemoveFromRecents="true"
            android:documentLaunchMode="intoExisting"
            android:exported="true"
            android:label="WebUI Legacy"
            android:permission="com.dergoogler.mmrl.permission.WEBUI_LEGACY"
            android:taskAffinity="${applicationId}.KSU_WEBUI" />

        <service
            android:name=".util.NonRootService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_AUTO_CREATE">
            <intent-filter>
                <action android:name="NonRootService" />
            </intent-filter>
        </service>
    </application>
</manifest>